<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service page</title>
</head>
<body>
    <section id="content">
        <h1>Services page</h1>
        <h2>services offered by SCM</h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, fugiat?
    </section>   

    <script>
        console.log("services page script")
    </script>
    <script>
        console.log("services page script second")
    </script>
</body>
</html>